html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#content {
	flex: 1;
	padding: 20px;
}

#footer {
	margin-top: 20px;
	padding: 20px;
}

.labelBtn{
	display: none !important;
}

.deleteSeriesEpisodeBtn{
	color: #c10000;
}

.favoritesBtn{
	color: #dd4444;
}

.vCenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.scrollable-menu {
	height: auto;
	max-height: 300px;
	overflow-x: hidden;
}

abbr[title] {
	text-decoration: none !important;
	border-bottom: 0px !important;

}

img {
	max-width: 100%;
	width: auto;
	max-height: 300px;
}


/*<editor-fold-submenu desc="this classes are used to create dropdown submenus">*/
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

/**/
.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #202020;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
/*</editor-fold-submenu>*/

.icon-small
{
	height:5px;
	margin:0;
	padding:0;
}

.icon-medium
{
	height:5px;
	margin:0;
	padding:0;
}

.btn-black {
	background-color: black !important;
}