html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#content {
    flex: 1;
    padding: 20px;
}

#footer {
    margin-top: 20px;
    padding: 20px;
}

.labelBtn{
    display: none !important;
}

.deleteSeriesEpisodeBtn{
    color: #c10000;
}

.favoritesBtn{
    color: #dd4444;
}

.vCenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

abbr[title] {
    text-decoration: none !important;
    border-bottom: 0px !important;

}

img {
    max-width: 100%;
    width: auto;
    max-height: 300px;
}