<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<context-param>
		<param-name>userProfileImgs</param-name>
		<param-value>/contentFiles/imgs/userProfiles</param-value>
	</context-param>

	<context-param>
		<param-name>seriesImgs</param-name>
		<param-value>/contentFiles/imgs/series</param-value>
	</context-param>
	<!--
		<context-param>
			<param-name>userProfileImgs</param-name>
			<param-value>/contentFiles/imgs/userProfiles</param-value>
		</context-param>-->
<!--

	<servlet>
		<servlet-name>editSeriesServlet</servlet-name>
		<servlet-class>gr.pr.date_releases.servlets.EditSeriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editSeriesServlet</servlet-name>
		<url-pattern>/EditSeriesServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
&lt;!&ndash;

	<filter>
		<filter-name>languageFilter</filter-name>
		<filter-class>gr.pr.date_releasess.filters.LanguageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>languageFilter</filter-name>
		<servlet-name>*</servlet-name>
	</filter-mapping>
&ndash;&gt;

	<filter>
		<filter-name>notLoggedInFilter</filter-name>
		<filter-class>gr.pr.date_releases.filters.NotLoggedInFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>notLoggedInFilter</filter-name>
		<url-pattern>/WEB-INF/view/mainPages/*</url-pattern>
		<url-pattern>/WEB-INF/view/utils/*</url-pattern>
		<url-pattern>/WEB-INF/view/seriesPages/*</url-pattern>
		<url-pattern>/WEB-INF/view/userControlPanel/*</url-pattern>
		<servlet-name>series</servlet-name>
		<servlet-name>addSeriesDate</servlet-name>
		<servlet-name>viewSeriesSchedule</servlet-name>
		<servlet-name>AddDateServlet</servlet-name>
		<servlet-name>ScheduleServlet</servlet-name>
		<servlet-name>seriesInfo</servlet-name>
		<servlet-name>editSeries</servlet-name>
		<servlet-name>editSeriesServlet</servlet-name>
		<servlet-name>addSeries</servlet-name>
		<servlet-name>AddRemoveFavoritesServlet</servlet-name>
		<servlet-name>userInfo</servlet-name>
		<servlet-name>changeUserPassword</servlet-name>
		<servlet-name>editUserInfo</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>parametersNeededFilter</filter-name>
		<filter-class>gr.pr.date_releases.filters.ParametersNeededFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>parametersNeededFilter</filter-name>
		<servlet-name>seriesInfo</servlet-name>
		<servlet-name>editSeries</servlet-name>
		<servlet-name>AddRemoveFavoritesServlet</servlet-name>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>/WEB-INF/view/welcomePage.jsp</welcome-file>
	</welcome-file-list>
-->

</web-app>